@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Source+Code+Pro:wght@600;700&family=Space+Mono&display=swap')

body
    font-family: 'Anonymous Pro', monospace
    letter-spacing: 1px
    font-weight: 700
    background: black
    padding: 0
    margin: 0
    user-select: none
    color: limegreen
    & p, & span
        word-break: break-all
        overflow-wrap: break-word
        white-space: break-spaces
    &::-webkit-scrollbar
        width: 0.6em
    &::-webkit-scrollbar-track
        box-shadow: inset 0 0 0.1em rgba(50, 205, 50, .2)
    &::-webkit-scrollbar-thumb
        border-radius: 5px
        background-color: rgba(50, 205, 50, .5)
pre
    background: black
    color: limegreen
    font-family: inherit
    padding: 1px

pre.caret-bar > span.caret
    animation: blink 1s step-end infinite
    border-left: 7px solid limegreen

@keyframes blink
    from,
    to
        border-color: transparent
    50%
        border-color: limegreen

.wrapper
    padding: 32px
    & .input
        cursor: text
    & input
        color: inherit
        font-family: inherit
        letter-spacing: inherit
        text-transform: inherit
        font-weight: inherit
        font-size: inherit
        background: inherit
        border-style: none
        caret-color: transparent
        width: 0
        height: 0
        opacity: 0
        &:active, &:focus, &:focus-visible
            outline: none
        &::selection
            color: black
            background: limegreen